<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto">
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="ChildNotes" android:icon="@drawable/Icon" />
	<!-- AdjustResize: 键盘弹出时窗口自动缩小，弹层内容不会被遮挡 -->
	<activity android:name="com.CompanyName.ChildNotes.MainActivity" android:windowSoftInputMode="adjustResize" />
</manifest>
